.authorBio {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 250px;
	margin: 10px 0 0;
	padding: auto;
	background-color: orange;
}

.authorImageContainer {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	height: auto;
	min-height: 250px;
	background-color: purple;
	margin: auto;
	padding: 0;
}

.authorImage {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	border-radius: 50%;
}