.App {
  background-color: green; }

.navMenu {
  display: inline-flex;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bolder; }
  @media screen and (max-width: 450px) {
    .navMenu {
      display: none; } }

.hamburgerMenu {
  display: none; }
  @media screen and (max-width: 450px) {
    .hamburgerMenu {
      display: block;
      float: left;
      position: absolute;
      height: 10%;
      width: 10%;
      background-color: black;
      color: white;
      font-size: 10vw;
      font-weight: bolder;
      text-align: center;
      margin: auto;
      padding: auto; } }
