$break-small: 600px;
$break-medium: 850px;

.App {
	/*
	@media screen and (max-width: $break-small) {
		display: block;
		position: relative;
		float: left;
		background-color: red;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 0;	
	}
	*/
	display: block;
	position: relative;
	float: left;
	//flex-direction: column;
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: green;
}