$break-small: 450px;
$break-medium: 860px;

.App {
  display: block;
  position: relative;
  background-color: green;
  height: 100vh;
  width: 80%;
  border: 2px solid black;
  margin: auto;
  padding: 0;
}
