@import 'constants.scss';

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.navMenu {  
  @media screen and (max-width: $break-small) {
    display: none;
  }

  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  .navLinks {
    @media screen and (max-width: $break-small) {
      display: none;
    }
    display: block;
    float: left;
    justify-content: flex-start;
    list-style: none;
    border: 2px solid white;
    border-radius: 2px;
    margin: 10px 15px;
    padding: 0;

    li {
      display: block;
      float: left;
      margin: 5px 10px;
    }
    & li:hover {
      color: black;
      background-color: white;
    }
  }
  .userLogin {
    @media screen and (max-width: $break-small) {
      display: none;
    }
    display: block;
    float: right;
    position: relative;
    list-style: none;

    li {
      display: block;
      float: left;
      margin: 0 5px;
    }
  }
}

.hamburgerMenu {
  @media screen and (max-width: $break-small) {
    display: block;
    float: left;
    position: absolute;
    height: 10%;
    width: 10%;
    background-color: black;
    color: white;
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  display: none;
}

