.navMenu {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bolder; }
  @media screen and (max-width: 450px) {
    .navMenu {
      display: none; } }
  .navMenu .navLinks {
    display: block;
    float: left;
    justify-content: flex-start;
    list-style: none;
    border: 2px solid white;
    border-radius: 2px;
    margin: 10px 15px;
    padding: 0; }
    @media screen and (max-width: 450px) {
      .navMenu .navLinks {
        display: none; } }
    .navMenu .navLinks li {
      display: block;
      float: left;
      margin: 5px 10px; }
    .navMenu .navLinks li:hover {
      color: black;
      background-color: white; }
  .navMenu .userLogin {
    display: block;
    float: right;
    position: relative;
    list-style: none; }
    @media screen and (max-width: 450px) {
      .navMenu .userLogin {
        display: none; } }
    .navMenu .userLogin li {
      display: block;
      float: left;
      margin: 0 5px; }

.hamburgerMenu {
  display: none; }
  @media screen and (max-width: 450px) {
    .hamburgerMenu {
      display: block;
      float: left;
      position: absolute;
      height: 10%;
      width: 10%;
      background-color: black;
      color: white;
      font-size: 10vw;
      font-weight: bolder;
      text-align: center;
      margin: auto;
      padding: auto; } }
